// Variables
$color-primary: #00bfd8;
$color-bg-dark: #1B2A33;
$color-bg-light: #ffffff;
$color-grey: #ccc;
$text-dark: #333;

$font-base: 13px;
$font-title: 18px;

// Math Operations
$base-spacing: 10px;
$container-width: 900px;

$wrapper-margin: $base-spacing * 5; // 50px