.left-panel {
  background: $color-bg-dark;
  min-height: 100%;
}

.photo-placeholder {
  width: 190px;
  height: 235px;
  background: $color-grey;
  margin-left: 230px; // позиціонування
}

.text-block {
  margin-right: 120px;
  margin-top: -($wrapper-margin); // -50px (математика + змінна)
}

.name, .position {
  transform: rotate(-90deg);
  transform-origin: left top;
  display: inline-block;
}

.name {
  font-size: 26px;
  font-weight: 700;
}

.position {
  font-size: $font-base + 1px;
  letter-spacing: 1px;
}