.resume-wrapper {
  max-width: $container-width;
  margin: $wrapper-margin auto; // Використання математичної змінної
  background: $color-bg-light;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.section-title {
  font-size: $font-base + 3px; // 16px
  font-weight: 700;
  margin-bottom: $base-spacing;
}

.section-text {
  font-size: $font-base;
  line-height: 1.4;
}

.right-title {
  font-size: $font-title;
  font-weight: 700;
  border-left: 5px solid $color-primary;
  padding-left: $base-spacing;
}